{% extends 'layouts/main.html' %}
{% block title %}Venue Search{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ venue.name }}
		</h1>
		<p class="subtitle">
			ID: {{ venue.id }}
		</p>
		<div class="genres">
			{% for genre in venue.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ venue.city }}, {{ venue.state }}
		</p>
		<p>
			<i class="fas fa-map-marker"></i> {% if venue.address %}{{ venue.address }}{% else %}No Address{% endif %}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if venue.phone %}{{ venue.phone }}{% else %}No Phone{% endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if venue.website %}<a href="{{ venue.website }}" target="_blank">{{ venue.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if venue.facebook_link %}<a href="{{ venue.facebook_link }}" target="_blank">{{ venue.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
		</p>
		{% if venue.seeking_talent %}
		<div class="seeking">
			<p class="lead">Currently seeking talent</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ venue.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking talent
		</p>
		{% endif %}

		<div class="venue-actions">
			<button id="edit-button" data-id="{{ venue.id }}">
				<i class="fas fa-edit"></i>
				Edit
			</button>
			<button id="delete-button" data-id="{{ venue.id }}" data-toggle="modal" data-target="#myModal">
				<i class="fas fa-trash-alt"></i>
				Delete
			</button>

			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete {{ venue.name }}</h4>
					</div>
					<div class="modal-body">
						<p>Are your sure to perform this action?</p>
						<div class="alert alert-danger hidden" id="delete-error-message">
							<strong>Error!</strong> while deleting Venue.
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" id="delete-button-confirm" data-id="{{ venue.id }}" >Yes</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<img src="{{ venue.image_link }}" alt="Venue Image" />
	</div>
</div>

<section>
	<h2 class="monospace">{{ venue.upcoming_shows_count }} Upcoming {% if venue.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in venue.upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist.image_link }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist.name }}</a></h5>
				<h6>{{ show.datetime|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ venue.past_shows_count }} Past {% if venue.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in venue.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist.image_link }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist.name }}</a></h5>
				<h6>{{ show.datetime|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<script>
	window.addEventListener('load', (event) => {
      document.getElementById('edit-button').onclick = function(){
		  location.href = location.origin + '/venues/' + this.dataset.id + '/edit'
	  }
	  document.getElementById('delete-button-confirm').onclick = function(){
		 let request_body = {method: 'DELETE'};
		 fetch('/venues/'+this.dataset.id, request_body).then(function(response){
			return response.json()
		 }).then(function(JSONResponse){
			if(JSONResponse.status == 'ok'){
				location.href = location.origin;
			}else{
				document.getElementById('delete-error-message').className += "show";
			}
		 })
	  }
    });
</script>

{% endblock %}

